:root {
  --color-primary:  #AD1F25;
  --color-secondary:  #444;
  --color-alert:  #386ED5;
  --anchor-color:  var(--color-alert);
  --border-color:  #707070;
  --text-color: #444;
  --box-shadow:  0 0 0.375rem #00000016;
  --btn-border-color:  var(--color-secondary);
  --archivo-black:  'Archivo Black', sans-serif;
  --roboto-condensed:  'Roboto Condensed', sans-serif;
}
