@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './scss/variables.scss';
#codecorpdemo {
    // Fakes the body styles
    color: var(--text-color);
    font-family: var(--roboto-condensed);
    line-height: 1.4;
}